:root {
    --mainColor: #19c8fa;
    --text-color: #777;
    --transparentColor: rgb(15 116 143 / 65%);
    --section-padding: 100px;
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
body::-webkit-scrollbar{
    background-color:#0094bd;
}
body::-webkit-scrollbar-track{
    background-color:white;
}
body::-webkit-scrollbar-thumb{
    background-color:var(--mainColor)
}
ul {
    list-style: none;
}
input:focus,
textarea:focus {
    outline: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* Start Components */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    margin-bottom: 60px;
    text-transform: uppercase;
    position: relative;
}
.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    width: 120px;
    background-color: #333;
    height: 2px;
}
.main-heading h2::after {
    content: '';
    border-radius: 50%;
    background-color: white;
    position: absolute;
    border: 2px solid #333;
    width: 14px;
    height: 14px;
    transform: translateX(-50%);
    left: 50%;
    bottom: -38px;
}
.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: var(--text-color);
}
/* End Components */